table {
    margin: 40px auto;
    width: 50%;

    font:  bold 100% Georgia, serif;
    text-align: center;
    vertical-align: middle;
    border: 10px solid blue;
    border-spacing: 0 10px;
    text-shadow: 5px 5px 5px #3F3F7F;
    background: #B1B9D9;
}
